.CardItem {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background-color: #ffffff;
    color: #ffffff;
    box-shadow: 0 0 12px rgb(126 221 3);
    font-weight: 200;


    .card_img {
        width: 300px;
        position: absolute;
        border-radius: 16px;
    }

    .card_delete_btn {
        align-self: flex-end;
        background: none;
        border: none;
        cursor: pointer;
        background-color: rgba(52, 52, 52, 0.8);
        border-radius: 50%;
        box-shadow: 0 0 6px 1px rgb(246, 4, 12);
        font-size: 12px;
        margin-top: 10px;
        margin-right: 10px;
        padding: 5px;
        z-index: 1;
        transition: all 0.5s ease-in-out;
    }

    .card_delete_btn:focus {
        box-shadow: 0 0 0;
    }

    .CardItem_info {
        position: relative;
        top: 240px;
        width: 306px;
        height: 180px;
        background-color: rgba(52, 52, 52, 0.648);
        border-radius: 16px;

        backdrop-filter: blur(12px);
        display: grid;
        align-items: center;
        grid-template-rows: auto 10px auto;
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "info genres"
            "year year"
            "desc desc";

        .card_title,
        a {
            grid-area: info;
            padding-left: 5px;
            margin: 0;
            color: white;
            text-decoration: none;
            font-weight: 200;
        }

        a:hover {
            text-decoration: underline #03e9f4;
            filter: hue-rotate(270deg);
        }

        .card_year {
            grid-area: year;
            margin: 0;
            padding-left: 10px;
            font-size: 0.7em;
        }

        .description {
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            grid-area: desc;
            padding-left: 10px;
            padding-right: 15px;
        }

    }

    .genres_container {
        grid-area: genres;
        display: grid;
        justify-content: start;
        justify-items: center;

        .genres_ul {
            padding: 10px;


            .genre_li {
                list-style: none;
                font-size: 0.8em;
                font-weight: 400;
            }
        }
    }
}

.CardItem_ext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;


    .card_img {
        width: 300px;
        border-radius: 16px;
    }

    .card_delete_btn {
        position: relative;
        top: -450px;
        left: 45%;
        background: none;
        border: none;
        cursor: pointer;
        background-color: rgba(52, 52, 52, 0.8);
        border-radius: 50%;
        box-shadow: 0 0 0 2px;
        font-size: 12px;
        margin-top: 10px;
        margin-right: 10px;
        padding: 5px;
        z-index: 1;
    }

    .card_delete_btn:focus {
        box-shadow: 0 0 0;
    }

    .CardItem_info {
        position: relative;
        width: 300px;
        top: -70px;
        background-color: rgba(52, 52, 52, 0.648);
        border-radius: 16px;
        backdrop-filter: blur(12px);
        filter: contrast(12px);
        display: grid;
        align-items: center;
        grid-template-rows: auto 10px auto;
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "info genres"
            "year year"
            "desc desc";

        .card_title,
        a {
            grid-area: info;
            padding-left: 5px;
            margin: 0;
            color: white;
            text-decoration: none;
            font-weight: 200;
        }

        a:hover {
            text-decoration: underline #03e9f4;
            filter: hue-rotate(270deg);
        }

        .card_year {
            grid-area: year;
            margin: 0;
            padding-left: 10px;
            font-size: 0.7em;
        }

        .description {

            grid-area: desc;
            padding-left: 10px;
            padding-right: 15px;
        }

    }

    .genres_container {
        grid-area: genres;
        display: grid;
        justify-content: start;
        justify-items: center;

        .genres_ul {
            padding: 10px;


            .genre_li {
                list-style: none;
                font-size: 0.8em;
                font-weight: 400;
            }
        }
    }
}

@media all and (min-width: 600px) {
    .CardItem_ext {
        display: flex;
        flex-direction: row;

        .card_img {
            min-width: 450px;
            border-radius: 16px;
        }

        .card_delete_btn {
            top: -325px;
            left: 30%;
        }

        .CardItem_info {
            height: 100%;
            top: 0;
            right: 9%;
            display: flex;
            flex-direction: column;

            .card_title {
                margin-top: 50px;
            }

            .description {
                margin-top: 200px;
                margin-left: 25px;
            }

            .genres_container {
                margin-top: 150px;

                .genre_li {
                    display: inline-block;
                    padding: 10px;
                    margin: 10px;
                    color: black;
                    background-color: white;
                    border-radius: 16px;
                }
            }
        }
    }
}